body {
  font-family: sans-serif;
}

/* TOC stuff */

h1.toc {
    font-size: 1.5em;
}

h3.toc {
    font-size: 1.1em;
}

ol {
    padding-left: 1em;
}

ol li {
  list-style-type: none;
  padding: 0.25em 0em;
}
